.bg-cont {
  display: flex;
  background: #181818;

  flex-grow: 1;
}

.side-nav-div {
  width: 10vw;
  flex-shrink: 0;
}
.main-container {
  display: flex;
  flex-direction: column;
  background: #181818;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  width: 70vw;
  padding-left: 20px;
  color: white;
  flex-grow: 1;
}
.icon-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.editor-container {
  display: flex;
  flex-wrap: wrap;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin: 10px;
}
.icon {
  width: 70px;
}

@media (max-width: 576px) {
  .bg-cont {
    flex-direction: column;
  }
  .icon-cont {
    flex-direction: row;
  }
  .icons {
    font-size: 10px;
  }
  .icon {
    width: 50px;
  }
  .main-container {
    padding-top: 10px;
    width: 90vw;
    padding-left: 10px;
  }
}
