.editor-song-profile-container {
  display: flex;
  flex-direction: column;
  background-color: #181818;

  padding-top: 32px;
  flex-grow: 1;
  padding-left: 20px;
  color: white;
}

.edit-song-card {
  display: flex;
  justify-content: flex-start;
}
.editor-heading-card {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.songImg {
  width: 200px;
  border-radius: 5px;
}
.songTitle-card {
  display: flex;
  justify-content: space-between;

  margin-right: 10px;
  padding: 10px;
}
.songDetails-card {
  display: flex;
  justify-content: space-between;

  margin-right: 10px;
  padding: 10px;
}
.hr-line {
  width: 87vw;
}
.song-font {
  min-width: 100px;
  max-width: 100px;
  font-size: 10px;
  text-align: left;
}
.audio-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  font-size: 8px;
  background-color: #181818;
  padding: 10px;
  width: 85vw;
}
.audio {
  width: 65vw;
  color: red;
}
.song-cursor {
  cursor: pointer;
}

.thumbImg {
  width: 35px;
  margin-right: 5px;
}
.song-artist-display {
  display: none;
}
.button-back {
  background-color: transparent;
  color: white;
  margin-bottom: 10px;
  border: 0px;
  font-size: 15px;
  cursor: pointer;
  text-align: left;
}

@media (max-width: 576px) {
  .edit-song-card {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .songImg {
    width: 140px;
  }
  .songTitle-card {
    display: none;
  }
  .song-Element-display {
    display: none;
  }
  .song-artist-display {
    display: flex;
  }
  .hr-line {
    display: none;
  }
  .song-artist-display {
    font-size: 7px;
  }
}
